body {
    overflow: y-scroll;
    height: 800px;
    color: purple;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.83;
    background: linear-gradient(#fcba03 0%, #fc03ad 100%);
    display: table;
    text-align: center;

}

h1 {
    text-decoration: overline underline;
    font-variant: small-caps;
    font-family: sans-serif;
    text-shadow: 1px 2pxl;
}

img {
    border-radius: 50%;
    width: 100px;
}

#bio {
    background: linear-gradient(#fc03ad 0%, #fcba03 100%);
}

.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
    position: fixed;
}

#myname {
    font-family: 'nothing you could do';
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 10px;
    margin: 50px;
    text-align: center;
}

#imgIMPORTANT {
    width: 500px;
}

#vicky {
    width: 500px;
    height: 500px;
    transition: transform .2s;
    border: 10px solid #AAAAAA;
}
#vicky:hover{
    transform: scale(0.9);
}
